<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center"> QuizTime </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard"> <i class="fas fa-stream left"></i> Dashboard</a></li>
            {{#if (checkAdmin user)}}
            <li><a href="/answers"> <i class="fas fa-question left"></i> Answers</a></li>
            {{/if}}
            <li><a href="/ranklist"> <i class="fas fa-chess left"></i> Ranklist</a></li>
            <li><a href="/auth/logout"> <i class="fas fa-power-off left"></i> Logout </a></li>
        </ul>
    </div>
</nav>