<h3><i class="fas fa-puzzle-piece left"></i>  AdventureTime</h3>
<div class="section">
    <p class="lead">"Let the game be ventured!" ― M.J. Colewood </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In with Institute mail
    </a>
</div>