<h3>Add World</h3>
<div class="row">
    <form action="/worlds" method="POST" class="col s12">
        
        <div class="row">
            <div class="input-field">
                <input type="number" id="worldNumber" name="worldNumber" min="1" max="1000">
                <label for="worldNumber">World Number</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field">
                <input type="text" id="worldName" name="worldName">
                <label for="worldName">World Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <input type="number" id="maxQues" name="maxQues" min="1" max="1000">
                <label for="maxQues">Number of questions in this world?</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>World Info:</h5>
                <textarea name="body" id="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>